body{
    font-family: 'IBM Plex Sans', sans-serif;
}

.selected{
    border-bottom:6px solid !important;
    border-color: #007bff !important;
}

b, strong{
    color:  #007bff !important;
}

footer{
    border-top: 1px solid lightgray;
}