<div>
    <h1 class='text-center'>FAQ</h1>
    <hr>
    <p>You have questions? Well we have <strong>some</strong> answers</p>

    <div class="accordion" id="accordion">
        <div class="card">
            <div class="card-header" id="heading1">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#faq1"
                        aria-expanded="true" aria-controls="collapse1">
                        Nay, I respect and admire Harold Zoid too much to beat him to death with his own Oscar.
                    </button>
                </h2>
            </div>

            <div id="faq1" class="collapse" aria-labelledby="heading1" data-parent="#accordion">
                <div class="card-body">
                    <p>Humans dating robots is sick. <strong> You people wonder why I'm still single?</strong> <em> It's
                            'cause all the fine robot sisters are dating humans!</em> Have you ever tried just turning
                        off the TV, sitting down with your children, and hitting them?</p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="heading2">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#faq2"
                        aria-expanded="true" aria-controls="collapse2">
                        Oh, I always feared he might run off like this. Why, why, why didn't I break his legs?
                    </button>
                </h2>
            </div>

            <div id="faq2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
                <div class="card-body">
                    <p>Maybe I love you so much I love you no matter who you are pretending to be. Why would I want to
                        know that? Oh, how awful. Did he at least die painlessly? …To shreds, you say. Well, how is his
                        wife holding up? …To shreds, you say.</p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="heading3">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#faq3"
                        aria-expanded="true" aria-controls="collapse3">
                        Large bet on myself in round one.
                    </button>
                </h2>
            </div>

            <div id="faq3" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
                <div class="card-body">
                    <p>Fry, we have a crate to deliver. Bender! Ship! Stop bickering or I'm going to come back there and
                        change your opinions manually! I found what I need. And it's not friends, it's things. Goodbye,
                        cruel world. Goodbye, cruel lamp. Goodbye, cruel velvet drapes, lined with what would appear to
                        be some sort of cruel muslin and the cute little pom-pom curtain pull cords. Cruel though they
                        may be…</p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="heading4">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#faq4"
                        aria-expanded="true" aria-controls="collapse4">
                        Me fail English? That's unpossible.
                    </button>
                </h2>
            </div>

            <div id="faq4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
                <div class="card-body">
                    <p>I don't like being outdoors, Smithers. For one thing, there's too many fat children. Jesus must
                        be spinning in his grave! <strong> Oh, so they have Internet on computers now!</strong> <em> A
                            woman is a lot like a refrigerator.</em> Six feet tall, 300 pounds…it makes ice.</p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="heading5">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#faq5"
                        aria-expanded="true" aria-controls="collapse5">
                        Kids, kids. I'm not going to die. That only happens to bad people.
                    </button>
                </h2>
            </div>

            <div id="faq5" class="collapse" aria-labelledby="heading5" data-parent="#accordion">
                <div class="card-body">
                    <p>Inflammable means flammable? What a country. Stan Lee never left. I'm afraid his mind is no
                        longer in mint condition. They only come out in the night. Or in this case, the day. Bart, with
                        $10,000 we'd be millionaires! We could buy all kinds of useful things like…love!</p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="heading6">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#faq6"
                        aria-expanded="true" aria-controls="collapse6">
                        I've done everything the Bible says — even the stuff that contradicts the other stuff!
                    </button>
                </h2>
            </div>

            <div id="faq6" class="collapse" aria-labelledby="heading6" data-parent="#accordion">
                <div class="card-body">
                    <p>Remember the time he ate my goldfish? And you lied and said I never had goldfish. Then why did I
                        have the bowl, Bart? <strong> *Why did I have the bowl?</strong> <em>* Oh, a *sarcasm*
                            detector.</em> Oh, that's a *really* useful invention!</p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="heading7">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#faq7"
                        aria-expanded="true" aria-controls="collapse7">
                        You are a part of the Rebel Alliance and a traitor! Take her away!
                    </button>
                </h2>
            </div>

            <div id="faq7" class="collapse" aria-labelledby="heading7" data-parent="#accordion">
                <div class="card-body">
                    <p>Oh, so they have Internet on computers now! Get ready, skanks! It's time for the truth train!
                        Don't kid yourself, Jimmy. If a cow ever got the chance, he'd eat you and everyone you care
                        about! Duffman can't breathe! OH NO!</p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="heading8">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#faq8"
                        aria-expanded="true" aria-controls="collapse8">
                        Partially, but it also obeys your commands.
                    </button>
                </h2>
            </div>

            <div id="faq8" class="collapse" aria-labelledby="heading8" data-parent="#accordion">
                <div class="card-body">
                    <p>Oh, so they have Internet on computers now! Get ready, skanks! It's time for the truth train!
                        Don't kid yourself, Jimmy. If a cow ever got the chance, he'd eat you and everyone you care
                        about! Duffman can't breathe! OH NO!</p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="heading9">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#faq9"
                        aria-expanded="true" aria-controls="collapse9">
                        All right. Well, take care of yourself, Han. I guess that's what you're best at, ain't it?
                    </button>
                </h2>
            </div>

            <div id="faq9" class="collapse" aria-labelledby="heading9" data-parent="#accordion">
                <div class="card-body">
                    <p>He is here. No! Alderaan is peaceful. We have no weapons. You can't possibly… Leave that to me.
                        <strong> Send a distress signal, and inform the Senate that all on board were killed.</strong>
                        <em> A tremor in the Force.</em> The last time I felt it was in the presence of my old master.
                    </p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="heading10">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#faq10"
                        aria-expanded="true" aria-controls="collapse10">
                        Red Five standing by.
                    </button>
                </h2>
            </div>

            <div id="faq10" class="collapse" aria-labelledby="heading10" data-parent="#accordion">
                <div class="card-body">
                    <p>I need your help, Luke. She needs your help. I'm getting too old for this sort of thing. He is
                        here. Your eyes can deceive you. <strong> Don't trust them.</strong> <em> Still, she's got a lot
                            of spirit.</em> I don't know, what do you think?</p>
                </div>
            </div>
        </div>
    </div>
</div>